* {
  box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body, html {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  color: white;
}


/*Flexheader*/

.right {
  flex: 1;
  padding: 10%;
  background-color: #3d3b65;
  margin: 0;
  text-align: center;
}

header {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  border: 5px solid #fff;
  border-radius: 15px;
  padding: 10%;
  margin-bottom: 30px;
}

header h3 {
  color: #6c7e8f;
  font-style: italic;
  font-size: 1em;
}

.right a {
  text-decoration: none;
  color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #34495e;
}

section div, a {
  flex: 1;
  padding: 10%;
}

.sites {
  flex: 1;
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


footer {
  background-color: #4a6075;
  padding: 10%;
  text-align: left;
}

div {
  position: relative;
  margin: 0 auto;
  line-height: 2em;
  text-align: left;
  padding: 5%;
}

footer aside p {
  color: #fff;
  font-style: italic;
  font-size: 1em;
}

footer div a {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  padding: 0;
}

footer div a .fa {
  margin-right: 10px;
  color: #6c7e8f;
}

footer aside {
  font-size: 1.3em;
  padding: 5%;
}

@media screen and (max-width:767px) {

  .right, section, footer {
    height: 500px;
  }

  .right a {
    padding: 0;
  }

  header {
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  section {
    padding: 20%;
  }

  section div, a {
    padding: 40%;
  }

  footer {
    padding: 1%;
    font-size: 0.7em;
  }
}
