* {
  box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body, html {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}


/*Flexheader*/

main {
  display: flex;
  flex-direction: row;
  min-height: 768px;
  color: white;
}

.left {
  flex: 1;
  background-image: url("../img/tech_wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  flex: 2;
  background: -webkit-linear-gradient(to bottom right, #191919, #696969); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom right, #191919, #696969); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom right, #191919, #696969); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #191919, #696969); /* Standard syntax */
}

header {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  font-size: 1.5em;
}

header h3 {
  color: #4bb8d2;
  font-style: italic;
}

section {
  position: relative;
  top: 300px;
  left: 50px;
  line-height: 2em;
}

section a {
  font-size: 1.5em;
  color: #4bb8d2;
  text-decoration: none;
}
